@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre:wght@400;600&display=swap');

$color-red:#BE0027;
$color-green: #239346;

* {
    margin :0;
    padding: 0;
    box-sizing: border-box;
}
.background{
    width: 100%;
    min-height: 100vh;
    position: fixed;
    z-index: -1;
    object-fit: cover;
}

html{
    scroll-snap-type: y mandatory;
}

body{
    position: relative;
    height: 100vh;
    overflow-x: hidden; 
    
}
  
h1{
    font-family: 'Proza Libre', sans-serif;
}
p{
    font-family: 'Open Sans', sans-serif;
}
.green{
    color:$color-green;
}
.red{
    color:$color-red;
}

nav{
    position: fixed;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    min-height: 30px;
    box-shadow: 0 3px 3px darkgrey;
    z-index: 10;
    h1{
        font-weight: 400;
        padding: 0.7em;
        font-size: 2rem;
    } 
    ul{
        display: none;
        padding: 0;
        margin: 0;
    }   
    li{
        font-family: 'Proza Libre', sans-serif;
        list-style-type: none;
        color: black;
        margin-right: 6em;
        letter-spacing: 1px;
        &:after{
            content:'';
            display: block;
            height: 3px;
            width: 0px;
            border-radius: 50px;
            background: white;
            transition: width 0.7s ease, background-color .5s ease;
        }
        
        a{
            color: black;
            text-decoration: none;
        }
        &:hover:after{
           background-color:$color-red;
           width: 100%;
        }
        &:first-child:hover:after, &:last-child:hover:after{
            background-color:$color-green;
        }
        
    }
}

.nav-links{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 10vh;
    height: 90vh;
    width: 100%;
    li{
        margin: 0;
    }
}

.burger{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    .line{
        width: 25px;
        height: 2px;
        background-color: black;
        margin: 2.5px 20px;
        border-radius: 50px;
    } 
}
section{
    height: 100vh;
    width: 100vw;
    
    overflow-x: hidden;
    scroll-snap-align: start;
}

.first-section{
    background-color: white;
  }

.back-image{
    position: absolute;
    top: 10%; 
    margin-left:auto;
    margin-right: auto;
    width: 60%;
    min-width: 500px;
}
.head-background{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:15%;
    left:10%;
    background-color: white;
    opacity: 0.74;
    height: 50vh;
    width:80vw;
    max-height: 500px;
    max-width: 600px;
    
    padding:2em;
    text-align: center;
    border-radius: 50px;
    h1{
        font-size: 3.5em;
        line-height: 1.2em;
        margin-top: 1em;
    }
    p{
        font-weight: 400;
        font-size: 1.5em;
        margin: 1em 0em 0;
    }
}

.pinocchio{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30vw;
    max-width: 200px;
}

.second-section{
    position: relative;
    background-color: rgba(2, 126, 41, 0.58);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow-y: hidden;
    button{
        font-family: 'Open Sans', sans-serif;
        font-size: large;
        padding: 1em 2em;
        border-radius: 10px;
        border:none;
        background-color: $color-red;
        color: white;
        letter-spacing: 1px;
        transition: color, background-color .4s ease-in-out;
        cursor: pointer;
        &:hover{
            color: $color-red;
            background-color: white;
        }
    }
  }

.textbloc{
    color: white;
    align-items: center;
    h1{
        font-size: 1.7rem;
        font-weight: 400;
        margin: 0.5em;
    }
    p{
        margin-left: 1.7em;
        margin-right: auto;
        font-size: 1rem;
        font-weight: 400;
        width: 140px;
    }
}

.third-section{
    background-color: white;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    img{
        margin: 1em;
        border-radius: 15px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    }
    div{
        width: 350px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        padding: 3em;
        text-align: center;
        margin: 1em;
    }
    p{
        font-size: 1.4rem;
        line-height: 40px;
        letter-spacing: 1px;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25); ;
    }
    span{
        color: $color-red;
        &:first-child, &:last-child{
            color: $color-green;
        }
    }
}

.fourth-section{
    background: rgba(182, 0, 0, 0.63);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    h1{
        margin: 0.7em;
        font-weight: 400;
        font-size: 2rem; 
    }
    p{
        font-size: large;
        line-height: 50px;
        letter-spacing: 1px;
        margin: 0 1em;
        margin-bottom: 3em;
        max-width: 500px;
    }
}

.menu{
    display: none;
    position: fixed;
    border-radius: 10px;
    left: 5%;
    z-index: 11;
    background-color: white;
    width: 90%;
    height: 80vh;
    overflow-x: hidden;
    overflow-y: scroll;
    grid-template-columns: 1fr;
    top:12vh;
}

.sidebar{
    .title{
        padding: 2em;
        text-align: center;
        border-bottom: 1px solid gainsboro;
    }
}

.meals{
    display: none;
    flex-direction: column;
    align-items: center;
    p{
        align-self: flex-start;
        margin: 1em;
    }
    div{
        margin: 0.5em;
        padding: 0.7em 1.5em;
        width: 150px;
        text-align: center;
        border-radius: 50px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
    }
    .active{
        background-color: $color-red;
        color: white;
        align-self: flex-end;
    }
}
.meals-mobile{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em 0;
    border-bottom: 1px solid gainsboro;
    i, path{
        font-size: 1.2rem;
        cursor: pointer;
        &:hover{
           color: $color-red;
           fill: $color-red;
        }
    }
    
}
.main{
    min-width: 55%;
}
.pizza{
    .info{
        padding: 1em;
        img{
            margin-top: 1em;
            border-radius: 10px;
            max-width: 100%;
        }
    }
    .type{
        padding: 0.5em;
        display: flex;
        flex-direction: column;
        .name{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 1em;
            h1{
                font-size: 1.4rem;
            }
            p{
                font-size: 0.7rem;
            }
        }
        .size{
            padding: 0.2em 0 1em;
            margin: 0.5em 0 0.2em;

            border-bottom: 1px solid gainsboro;
            span{
                font-family: 'Open Sans', sans-serif;
                font-size: 0.8rem;
                margin: 0.5em;
                padding: 0.4em 0.6em;
                border-radius: 50px;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
                cursor: pointer;
                color: $color-green;
                
                &:last-of-type{ 
                    color: $color-red;
                }
            }
            :nth-child(6) .special, :nth-child(3).special{
                background-color: $color-red;
                color: white;
            }
            .active{
                    box-shadow: none;
                    background-color: $color-green;
                    color: white;
            }
        }
    }
}
.items{
    border-bottom: 1px solid gainsboro;
    h1{
        font-size: 1rem;
        margin-left: 1.5em;
    }
    div{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(25px, 1fr) );
        justify-items: center;
        align-items: baseline;;
        padding: 0.7em;
        span{
            grid-column: 1/5;
            font-size: 0.8rem;
        }
        select{
            grid-column: 5/10;
        }
        i{
            align-self: center;
            color: $color-red;
            cursor: pointer;
            &:first-of-type{
                color: $color-green;
            }
        }
    }
    button{
        font-family: 'Proza libre';
        font-size: 0.8rem;
        margin: 0.5em 2em 1em;
        padding: 0.3em 1em;
        border-radius: 50px;
        border: none;
        background-color: white;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        &:hover{
            color: white;
            background-color: black;
        }   
    }
}
.add{
    position: relative;
    align-items: center;
    margin-bottom: 2em;
    p{
        margin: 1em;
    }
    span{
        font-family: 'Proza libre';
        padding: 0.2em 1.5em;
        position: absolute;
        left: 40%;
        top: 12%;
        border-radius: 50px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: $color-green;
        color: white;
    }
}

.order{
    .title{
        font-size: 0.9rem;
        text-align: center;
        color: white;
        background-color: $color-red;
        padding: 2em;
    }
    .recap{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .orders{
            padding: 1em;
            display: flex;
            justify-content: space-between;
            i{
                    font-size: 0.7rem;
                    cursor: pointer;
                }
        }
        .total{
            display: flex;
            flex-direction: column;
            .price{
                padding: 1em;
                display: flex;
                justify-content: space-between;
                background-color: gainsboro;
                
            }
            button{
                font-family: 'Proza libre';
                font-size: 1rem;
                align-self: center;
                margin: 0.7em;
                padding: 0.3em 1em;
                width: 30%;
                border-radius: 50px;
                border: none;
                cursor: pointer;
           
            }
            #done{
                    background-color: $color-green;
                    color:white;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
            #cancel{
                background-color: white;
                color: $color-red;
            }
        }
    }
}
.back-modal{
    display: none;
    z-index: 9;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    
}

@media (min-width:800px) {
    .menu{
        grid-template-columns: 20% 55% 25%;
    }
    .meals-mobile{
        display: none;
    }
    .meals{
        display: flex;
    }

}

@media (min-width:600px) {
    .back-image{
        left: 8%;
    }
    .head-background{
        top:25%;
        left: 12%;
        h1{
            margin-top: 0;
        }
        p{
            margin: 1em 3em 0 3em;
        }
    }
    .pinocchio{
        right:10%;
    }
    .burger{
        display: none;
    }
    nav{
        ul{
            display: flex;
        }
    }
    .second-section{
        flex-direction: row;  
        button{
            position: absolute;
        }
    }
    .third-section{
        flex-direction: row;
    }
    
}




